<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Service Provider</title>
  <link rel="stylesheet" href="styles/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="styles/menu.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="styles/slide.css" type="text/css" media="screen" />
  <!-- login Slider -->
  <script src="jquery/login/jquery-1.3.2.min.js" type="text/javascript"></script>
  <script src="jquery/login/slide.js" type="text/javascript"></script>
  <!-- login Slider -->

  <!--provider Slider-->
  <script type="text/javascript" src="jquery/pro_slider/jquery.min.js"></script>
  <script type="text/javascript" src="jquery/pro_slider/stepcarousel.js"></script>
  <link href="jquery/pro_slider/tech_gal.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">

stepcarousel.setup({
	galleryid: 'mygallery', //id of carousel DIV
	beltclass: 'belt', //class of inner "belt" DIV containing all the panel DIVs
	panelclass: 'panel', //class of panel DIVs each holding content
	autostep: {enable:true, moveby:1, pause:2000},
	panelbehavior: {speed:500, wraparound:true, wrapbehavior:'slide', persist:true},
	defaultbuttons: {enable: true, moveby: 1, leftnav: ['jquery/pro_slider/back.png', 375, -35], rightnav: ['jquery/pro_slider/next.png', -20, -35]},
	statusvars: ['statusA', 'statusB', 'statusC'], //register 3 variables that contain current panel (start), current panel (last), and total panels
	contenttype: ['inline'] //content setting ['inline'] or ['ajax', 'path_to_external_file']
})

</script>
  <!--provider Slider-->
  <!--popup--->
  <link rel="stylesheet" href="jquery/popup/popup.css" type="text/css" />
  <!--<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>-->
  <script type="text/javascript" src="jquery/popup/popup.js"></script>
  <!--popup Close--->

  <!-- price Slide -->
  <!-- bin/jquery.slider.min.css -->
  <link rel="stylesheet" href="jquery/price_slide/css/jslider.css" type="text/css">
  <link rel="stylesheet" href="jquery/price_slide/css/jslider.blue.css" type="text/css">
  <link rel="stylesheet" href="jquery/price_slide/css/jslider.plastic.css" type="text/css">
  <link rel="stylesheet" href="jquery/price_slide/css/jslider.round.css" type="text/css">
  <link rel="stylesheet" href="jquery/price_slide/css/jslider.round.plastic.css" type="text/css">
  <!-- end -->

  <script type="text/javascript" src="jquery/price_slide/js/jquery-1.7.1.js"></script>

  <!-- bin/jquery.slider.min.js -->
  <script type="text/javascript" src="jquery/price_slide/js/jshashtable-2.1_src.js"></script>
  <script type="text/javascript" src="jquery/price_slide/js/jquery.numberformatter-1.2.3.js"></script>
  <script type="text/javascript" src="jquery/price_slide/js/tmpl.js"></script>
  <script type="text/javascript" src="jquery/price_slide/js/jquery.dependClass-0.1.js"></script>
  <script type="text/javascript" src="jquery/price_slide/js/draggable-0.1.js"></script>
  <script type="text/javascript" src="jquery/price_slide/js/jquery.slider.js"></script>
  <!-- end -->

  <style type="text/css" media="screen">
/* body { background: #EEF0F7; }
	 .layout { padding: 50px; font-family: Georgia, serif; }*/
	 .layout-slider {
	margin-bottom: 15px;
	width: 99%;
	margin-top:14px;
}
	 /*.layout-slider-settings { font-size: 12px; padding-bottom: 10px; }
	 .layout-slider-settings pre { font-family: Courier; }*/
</style>
  <!-- price Slide Close-->

  <!--popup tab--->
  <link rel="stylesheet" href="jquery/loginTab/css/style.css">
  <!-- <script src="jquery/loginTab/js/jquery.min.js"></script>-->
  <script src="jquery/loginTab/js/organictabs.jquery.js"></script>
  <script>
        $(function() {
    
            $("#example-one").organicTabs();
            
            $("#example-two").organicTabs({
                "speed": 200
            });
    
        });
    </script>

  <!--popup tab Close--->

  <!----------Auto Complete------------->
  <!--<script src="jquery/autoComplete/jquery-1.4.2.js"></script>-->
  <link rel="stylesheet" href="jquery/autoComplete/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="jquery/autoComplete/jquery.autocomplete.js"></script>
  <script>
  $(document).ready(function(){
    var data = "AndraPradesh ArunachalPradesh Assam Bihar Chhattisgarh Goa Gujarat Haryana HimachalPradesh Jammuan&Kashmir Jharkhand Karnataka Kerala MadyaPradesh Maharashtra Manipur Meghalaya Mizoram Nagaland Orissa Punjab Rajasthan Sikkim Tamil Nadu Tripura Uttaranchal UttarPradesh WestBengal".split(" ");
$("#example").autocomplete(data);
  });
  </script>
  <!----------Auto Complete Close------------->

  </head>

  <body>
<!--top login-->
<div id="toppanel">
    <div id="panel">
    <div class="content clearfix" >
        <div class="left"  style="padding-top:15px;">
        <div class="select">
            <select>
            <option>User Type</option>
            <option>Provider</option>
            <option>User</option>
          </select>
          </div>
      </div>
        <div class="left"> 
        <!-- Login Form -->
        <form class="clearfix" action="#" method="post">
            <input type="text" class="inputbox" Placeholder="Email Address" />
            <div class="clear"></div>
            <!--<input type="submit" name="submit" value="Login" class="bt_login" />--> 
            <a class="lost-pwd" href="#">Register Now !</a>
          </form>
      </div>
        <div class="left"> 
        <!-- Register Form -->
        <form action="#" method="post">
            <input type="text" class="inputbox" Placeholder="Password" />
            <div class="clear"></div>
            <!--<input type="submit" name="submit" value="Login" class="bt_login" />--> 
            <a class="lost-pwd" href="#">Lost your password?</a>
          </form>
      </div>
        <div class="left right"> 
        <!-- Register Form -->
        <form action="#" method="post">
            <input type="submit" name="submit" value="Register" class="bt_register" />
          </form>
      </div>
      </div>
  </div>
    <!-- /login --> 
    
    <!-- The tab on top -->
    <div class="tab">
    <ul class="login">
        <li class="left">&nbsp;</li>
        <li>Call us toll-free on 1-888-699-8911</li>
        <li class="sep">|</li>
        <li>
        <div class="social"> <a href="#"><img src="images/fb.png" alt="Facebook" /></a> <a href="#"><img src="images/tw.png" alt="Twitter" /></a> <a href="#"><img src="images/in.png" alt="LinkedIn" /></a> </div>
      </li>
        <li class="sep">|</li>
        <li id="toggle"> <a id="open" class="open" href="#"><strong>Log In</strong></a> <a id="close" style="display: none;" class="close" href="#"><strong>Hide &nbsp;&nbsp;</strong></a> </li>
        <li class="right">&nbsp;</li>
        <li class="shop_bag">
        <div class="left"><a href="#"><img src="images/bag.png" alt="bag" /></a></div>
        <div class="bag_list left"><a href="#" class="bag_item">23</a></div>
      </li>
      </ul>
  </div>
    <!-- / top --> 
    
  </div>
<!--top login Close--> 
<!--Header-->
<div id="p_header">
    <div id="header">
    <div class="logo"></div>
    <div class="welcome_user right"><span><a href="#">Welcome Guest!</a></span> <a href="#">Logout</a></div>
  </div>
  </div>
<!--Header Close--> 
<!--Menu-->
<div id="menu_p">
    <div id="menu">
    <div class="menu">
        <div class="btn_part left">
        <ul>
            <li style="padding-top:7px;"><a href="#"><img src="images/home.png" alt="home" /></a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Providers</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
      </div>
        <div class="_search right">
        <div class="s_box left">
            <input type="text" placeholder="Search your Terms" class="search_text" />
          </div>
        <div class="left"><a href="#"><img src="images/search.png" alt="search" class="search_but" /></a></div>
      </div>
      </div>
  </div>
  </div>
<!--Menu Close--> 
<!--Banner--> 
<!--<div id="banner">
<div class="top_search">
<h2>Find Providers</h2>
<div class="box_s">
<div class="ddl_search"><select>
<option>Select Category</option>
<option>Select Category</option>
<option>Select Category</option>
</select></div>
<div class="ddl_search"><select>
<option>Select City</option>
<option>Select City</option>
<option>Select City</option>
</select></div><br />

<input type="text" class="location_box" placeholder="Select Location" />

<p align="center"><input type="button" class="findnow" /></p>
</div>

</div>
<div class="banner"></div>
</div>-->

<!--Banner Close--> 
<!--Container-->
<div id="container" class="merg_top">
    <div class="content">
    <div class="user_panel"> 
    <!--news panel-->
    <div class="left_box_menu left">
       <div class="left_menu">
       <ul>
       <li ><a href="#" class="pro_icon">My Profile</a></li>
       <li class="active"><a href="#" class="serv_icon">My Services</a> <span class="right count_in"><a href="#">20</a></span></li>
       <li ><a href="#" class="pass_icon">Change Password</a></li>
       <li ><a href="#" class="visit_icon">Total Visits</a> <span class="right count_in"><a href="#">20</a></span></li>
       </ul>       
       </div>
      </div>
    <!--news panel Close--> 
    
    <!--------user Panel right--------->
    <div class="detail_right right">
    <div class="detail_container">
    <div class="head_cont">
    <h2 class="serv"><table width="99%"><tr><td width="85%">My Services (10)</td> 
    <td><a href="#" class="button"><img src="images/add_new.png" /></a></td>
    </tr>
    </table>
    </h2>
    </div>
    
    <div class="grid_container">
    <table width="99%" cellpadding="0" cellspacing="0" class="grid">
    <tr>
    <td class="grd_sep tr_haed bord_left" width="4%" align="center"><input type="checkbox"  /></td>
    <td class=" grd_sep tr_haed" width="20%"><strong>Name</strong></td>
    <td class="grd_sep tr_haed " width="10%"><strong>Price</strong></td>
    <td class="grd_sep tr_haed " width="20%"><strong>City</strong></td>
    <td class="grd_sep tr_haed " width="35%"><strong>Description</strong></td>
    <td class="tr_haed bord_right"><strong>Action</strong></td>
    </tr>
    
     <tr>
    <td class="tr_line1 grd_pad" align="center"><input type="checkbox"  /></td>
    <td class="tr_line1">Service 1</td>
    <td class="tr_line1">430$</td>
    <td class="tr_line1">Lucknow, Kanpur</td>
    <td class="tr_line1">Lorem Ipsum Doler Sit......</td>
    <td class="tr_line1">
    <a href="#"><img src="images/edit.png" alt="edit" /></a> 
    <a href="#"><img src="images/del.png" alt="Delete" /></a></td>
    </tr>
    
    <tr>
    <td class="tr_line2 grd_pad" align="center"><input type="checkbox"  /></td>
    <td class="tr_line2">Service 1</td>
    <td class="tr_line2">430$</td>
    <td class="tr_line2">Lucknow, Kanpur</td>
    <td class="tr_line2">Lorem Ipsum Doler Sit......</td>
    <td class="tr_line2"><a href="#"><img src="images/edit.png" alt="edit" /></a> 
    <a href="#"><img src="images/del.png" alt="Delete" /></a></td>
    </tr>
    
     <tr>
    <td class="tr_line1 grd_pad" align="center"><input type="checkbox"  /></td>
    <td class="tr_line1">Service 1</td>
    <td class="tr_line1">430$</td>
    <td class="tr_line1">Lucknow, Kanpur</td>
    <td class="tr_line1">Lorem Ipsum Doler Sit......</td>
    <td class="tr_line1">
    <a href="#"><img src="images/edit.png" alt="edit" /></a> 
    <a href="#"><img src="images/del.png" alt="Delete" /></a></td>
    </tr>
    
    <tr>
    <td class="tr_line2 grd_pad" align="center"><input type="checkbox"  /></td>
    <td class="tr_line2">Service 1</td>
    <td class="tr_line2">430$</td>
    <td class="tr_line2">Lucknow, Kanpur</td>
    <td class="tr_line2">Lorem Ipsum Doler Sit......</td>
    <td class="tr_line2"><a href="#"><img src="images/edit.png" alt="edit" /></a> 
    <a href="#"><img src="images/del.png" alt="Delete" /></a></td>
    </tr>
    
     <tr>
    <td class="tr_line1 grd_pad" align="center"><input type="checkbox"  /></td>
    <td class="tr_line1">Service 1</td>
    <td class="tr_line1">430$</td>
    <td class="tr_line1">Lucknow, Kanpur</td>
    <td class="tr_line1">Lorem Ipsum Doler Sit......</td>
    <td class="tr_line1">
    <a href="#"><img src="images/edit.png" alt="edit" /></a> 
    <a href="#"><img src="images/del.png" alt="Delete" /></a></td>
    </tr>
    
    <tr>
    <td class="tr_line2 grd_pad" align="center"><input type="checkbox"  /></td>
    <td class="tr_line2">Service 1</td>
    <td class="tr_line2">430$</td>
    <td class="tr_line2">Lucknow, Kanpur</td>
    <td class="tr_line2">Lorem Ipsum Doler Sit......</td>
    <td class="tr_line2"><a href="#"><img src="images/edit.png" alt="edit" /></a> 
    <a href="#"><img src="images/del.png" alt="Delete" /></a></td>
    </tr>
    
     <tr>
    <td class="tr_line1 grd_pad" align="center"><input type="checkbox"  /></td>
    <td class="tr_line1">Service 1</td>
    <td class="tr_line1">430$</td>
    <td class="tr_line1">Lucknow, Kanpur</td>
    <td class="tr_line1">Lorem Ipsum Doler Sit......</td>
    <td class="tr_line1">
    <a href="#"><img src="images/edit.png" alt="edit" /></a> 
    <a href="#"><img src="images/del.png" alt="Delete" /></a></td>
    </tr>
    
    <tr>
    <td class="tr_line2 grd_pad" align="center"><input type="checkbox"  /></td>
    <td class="tr_line2">Service 1</td>
    <td class="tr_line2">430$</td>
    <td class="tr_line2">Lucknow, Kanpur</td>
    <td class="tr_line2">Lorem Ipsum Doler Sit......</td>
    <td class="tr_line2"><a href="#"><img src="images/edit.png" alt="edit" /></a> 
    <a href="#"><img src="images/del.png" alt="Delete" /></a></td>
    </tr>
    
     <tr>
    <td class="tr_line1 grd_pad" align="center"><input type="checkbox"  /></td>
    <td class="tr_line1">Service 1</td>
    <td class="tr_line1">430$</td>
    <td class="tr_line1">Lucknow, Kanpur</td>
    <td class="tr_line1">Lorem Ipsum Doler Sit......</td>
    <td class="tr_line1">
    <a href="#"><img src="images/edit.png" alt="edit" /></a> 
    <a href="#"><img src="images/del.png" alt="Delete" /></a></td>
    </tr>
    
    <tr>
    <td class="tr_line2 grd_pad" align="center"><input type="checkbox"  /></td>
    <td class="tr_line2">Service 1</td>
    <td class="tr_line2">430$</td>
    <td class="tr_line2">Lucknow, Kanpur</td>
    <td class="tr_line2">Lorem Ipsum Doler Sit......</td>
    <td class="tr_line2"><a href="#"><img src="images/edit.png" alt="edit" /></a> 
    <a href="#"><img src="images/del.png" alt="Delete" /></a></td>
    </tr>
    </table>
    
    </div>
    
    
    
    </div>  
    </div> 
    <!--------user Panel right---------> 
    
    </div>
    
  </div>
  
    
    <!--PopUp Starts-->
    <div class="popupContent popupContent_service">
    <div class="pop_log_bg">
        <div class="popupClose"></div>
        
       
          
                <fieldset class="service_field" >
                <div class="service_head_p"><p>Add New Service</p></div>
                
                <table width="98%" cellpadding="0" cellspacing="2" class="tab_regis">
                    <tr>
                    <td align="right" width="30%"><strong>Service Name :</strong></td>
                    <td colspan="2"><select class="reg_txt">
                    <option>ABC</option>
                    <option>XYZ</option>
                    <option>PQR</option>
                    </select>
                    
                    </td>
                    
                  </tr>
                    <tr>
                    <td align="right" valign="top"><strong>Service Price :</strong></td>
                    <td><input type="text" class="reg_txt" /></td>                    
                    <td width="15%">&nbsp;</td>
                    
                  </tr>
                    <tr height="20px">
                    <td align="right"></td>
                    <td colspan="2">
                    <a href="#" class="font2">Lucknow</a>
                    <a href="#" class="font2">Lucknow</a>
                    <a href="#" class="font2">Lucknow</a>
                    </td>
                    
                  </tr>
                 
                    <tr>
                    <td align="right"><strong>Service City :</strong></td>
                    <td colspan="2"><select class="reg_txt">
                    <option>ABC</option>
                    <option>XYZ</option>
                    <option>PQR</option>
                    </select></td>
                    
                  </tr>
                  
                  
                    <tr>
                    <td align="right"><strong>Description :</strong></td>
                    <td colspan="2">
                    <textarea class="regis_area" rows="2" cols="5"></textarea>
                    </td>
                    
                  </tr>
                  <tr>
                    <td align="right"></td>
                    <td colspan="2" align="right" style="padding-right:10px;">
                    <button class="submit"><strong>Save</strong></button> 
                    <button class="submit"><strong>Reset</strong></button>
                    </td>
                    
                  </tr>
                  
                  
                  </table>
              </fieldset>
                
                
                
            
        
        <!-- END List Wrap --> 
        
     
      </div>
  </div>
    <div class="backgroundPopup"></div>
    <!--PopUp Close--> 
    
  </div>
<!--Container Close--> 

<!--web2.0 start-->
<div id="p_web">
    <div id="web">
    <div class="f_container">
        <div class="f_boxes">
        <div class="f_head">
            <p>What's people Says <em></em></p>
          </div>
        <table width="100%" style="margin-top:10px;">
            <tr>
            <td width="40%" valign="top"><a href="#" ><img src="images/testi_icon.png" alt="icon" class="test_iconimg" /></a><br />
                <a href="#" class="test_icon1">Michael
              Robert</a></td>
            <td class="test_desc1" valign="top" ><p> Lorem Ipsum doler
                sit amet. Lorem Ipsum doler sit amet.Lorem Ipsum doler sit amet. Lorem Ipsum doler sit amet. Lorem Ipsumdolersit amet. </p></td>
          </tr>
          </table>
      </div>
        <div class="seperator"></div>
        <div class="f_boxes">
        <div class="f_head">
            <p>Address <em></em></p>
          </div>
        <p><span>First Floor, Y-Square, Opposite 
          S.K. Motors, Khurram Nagar,
          Lucknow - 226022, Uttar Pradesh,
          INDIA </span></p>
        <p><span>
          <label for="Phone" class="lab_for"><strong>Phone </strong>:</label>
          <label for="number">+91 - 0522 - 4081436</label>
          </span><br />
            <span>
          <label for="Email" class="lab_for"><strong>Email &nbsp; </strong>:</label>
          <label for="id">contact@infranix.com</label>
          </span><br />
            <span>
          <label for="skype" class="lab_for"><strong>Skype </strong>:</label>
          <label for="sky">tauseef.2sidd</label>
          </span></p>
      </div>
        <div class="seperator"></div>
        <div class="f_boxes">
        <div class="f_head">
            <p>Other Links <em></em></p>
          </div>
        <p><a href="../index.html">Home </a> </p>
        <p><a href="../product.html#portfolio">Products</a></p>
        <p><a href="#">Partners</a></p>
        <p><a href="../career.html#career">Career </a> </p>
        <p><a href="../contact.html#contact">Contact Us</a> </p>
      </div>
        <div class="seperator"></div>
        <div class="f_boxes">
        <div class="f_head">
            <p>Track our Location <em></em></p>
          </div>
        <iframe width="189" height="131" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=INFRANIX+IT+Solutions,+Lucknow,+Uttar+Pradesh&amp;aq=0&amp;oq=infranix&amp;sll=26.836828,80.950613&amp;sspn=0.373127,0.441513&amp;ie=UTF8&amp;hq=INFRANIX+IT+Solutions,&amp;hnear=Lucknow,+Uttar+Pradesh&amp;ll=26.888722,80.967328&amp;spn=0.093223,0.110378&amp;t=m&amp;z=13&amp;iwloc=A&amp;cid=1497745135325076285&amp;output=embed" style="margin-top:10px;"></iframe>
        <br />
      </div>
      </div>
  </div>
  </div>

<!--web2.0 close--> 

<!--footer starts-->
<div id="footer_p">
    <div id="footer">
    <div class="f_menu left_drag">
        <p> © Copyright 2012, Service Provider. All rights reserved</a> </p>
      </div>
  </div>
  </div>

<!--footer close-->

</body>
</html>
