@charset "utf-8";
/* CSS Document */
.caroufredsel_wrapper
			{
				width:960px !important;
			}
			.list_carousel {
				background-color: #fff;
				margin-top:40px;
				width: 960px;
				position:relative;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				font-size: 40px;
				color: #999;
				text-align: center;
				background-color: #eee;				
				width: 465px;
				height: 278px;
				padding: 0;
				margin: 0px 30px 0 0;
				display: block;
				float: left;
				position:relative;
			}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.list_carousel .clearfix {
				float: none;
				clear: both;
			}
			.prev {
				float: left;
				
				top:4px;
				*top:15px;
				right:35px;
				position:absolute;
				width:25px;
				height:25px;
				padding:0 5px;
				background:#ffffff;
				
			}
			.next {
				float: right;
				top:4px;
				*top:15px;
				right:0px;
				position:absolute;
				width:25px;
				height:25px;
				padding:0 5px;
				background:#ffffff;
			}
			.pager {
				float: left;
				width: 300px;
				text-align: center;
				display:none !important;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.timer {
				background-color: #999;
				height: 6px;
				width: 0px;
			}
			
			.lm_caption
			{
				background:url(../images/caption_bg.png) repeat;
				height:31px;
				font-family:Tahoma, Geneva, sans-serif;
				font-size:13px;
				color:#fff;
				line-height:31px;
				text-align:left;
				padding-left:10px;
				position:absolute;
				top:0px;
				display:block;
				width:455px;
			}
			

