.count_container
{
	background:url(../images/count_bg.png) no-repeat left top;
	width:100%;
	height:81px;
	*margin-top:-11px;
}
.count_container div.trip_text
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#a1a1a1;
	width:387px;
	margin:0px ;
	margin-left:0px;
	*margin-left:-80px;
	padding:4px 0;
	text-align:center !important;
}

.counter {

	background:url(../images/clock_bg.png) repeat-x;
	display:inline-block;
	width:100%;
	height:81px;
	width:245px;
	height:33px;
	border:solid 1px #000000;
	float:left;
	margin-left:70px;
}
ul.countdown {
	margin: 0px auto;
	padding: 0;
}
ul.countdown li {
	background:none !important;
	color: #FFFFFF;
	display: inline;
	float: left;
	margin:0px !important;
	text-align: center;
	width: 50px;
	height:33px;
	font-family:oswald;
	font-size:22px;
}
ul.countdown li.colon {
	width:15px
	
}
ul.countdown li.colon span {
	/*padding:0 2px;*/
	width:15px;
	display:inline-block;
	height:33px;
}
ul.countdown li.colon span img{
	/*padding:0 2px;*/
	
	display:inline-block;
	height:33px;
}

ul.countdown span {
	/*padding:0 5px;*/
	background:url(../images/clock_sep.png) no-repeat right center;
	width:51px;
	display:block;
}
ul.countdown span.last{
	/*padding:0 5px;*/
	background:none;
	float:left;
	width:24px;
}
ul.countdown p.timeRefDays, ul.countdown p.timeRefHours, ul.countdown p.timeRefMinutes, ul.countdown p.timeRefSeconds {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#ccc;
	margin: 0;
	padding-bottom: 5px;
	margin-top:5px;
	display:inline-block;
}
.readmore
{
	width: 100px;
	height: 81px;
	margin-top: -23px;
	/*z-index: -1;
	position: relative;*/
	float: right;
}
.readmore a
{
	font-family:oswald;
	font-size:20px;
	color:#fff;
	display:inline-block;
	width:100px;
	height:81px;
	line-height:81px;
	text-decoration:none;
}