/*body {
	font: 0.8em/21px arial,sans-serif;
}
*/

*
{
	margin:0;
	padding:0;
}
body
{
	
	font-size:16px;
	font-style:normal;
	margin:0 auto;/*
	background-color:#fff;*/
	/*font-family:"Myriad Pro";*/
	background:url(../images/body_bg.png) repeat;
	font-family:Arial, Helvetica, sans-serif;
}
.left
{
	float:left;
}
.right
{
	float:right;
	clear:right;
}
#login
{
	width:100%;
	background:url(../images/admin_bg.png) repeat-x;
	display:inline-block;
	padding-top:38px;
	min-height:598px;
 /* border:1px solid #684b91;
  border-left:none;
  border-right:none;*/
}
#login div.loginbox_container
{
	width:460px;
	margin:0 auto;
	background:url(../images/login_bg_shadow.png) no-repeat center bottom;
	/*background:#ececec;*/
	/*padding-top:40px;
	margin-top:122px;*/
	padding-bottom:20px;
	
}
.l_box_con
{
	width:430px;
	margin:0 auto;
	min-height:280px;
	padding:8px 6px;
	background:#19a5d2;
	-webkit-border-radius:10px;
	-moz-border-radius:10px ;
	border-radius: 10px;
	border:1px solid #198bb2;
	margin-top:100px;
	/*position:relative;
	z-index:10;	*/
}
.login_table
{
/*	background:#c2c2c2;*/
	font-family:Arial, Helvetica, sans-serif;
	color:#336793;
	font-size:9pt;
	margin:0 auto;
	/*height:170px;*/
	line-height:32px;
	-webkit-border-radius: 11px;
	-moz-border-radius:11px;
	border-radius: 11px;
	padding:2px 0px 15px 0px;
	border:1px solid #cacaca;
	background:#f4f9fe;
	position:relative;
	
}

.bod_right
{
	border-right:none;
}
.t_box_sign, .off_but
{
	border:1px solid #e9e9e9;
	/*width:72%;*/
	width:95%;
	display:inline-block;
	font-size:9pt;
	color:#8D8D8D;
	padding:4px 2px 4px 5px;
	margin:0 auto;
	margin-bottom:25px;
	outline:none;
	margin-top:3px;
	/*background:#236496;
	 Safari 4-5, Chrome 1-9
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f6f6f6)); */
  
  /* Safari 5.1, Chrome 10+ 
  background: -webkit-linear-gradient(top, #ffffff, #f6f6f6);*/
  
  /* Firefox 3.6+
  background: -moz-linear-gradient(top, #ffffff, #f6f6f6); */
  
  /* IE 10 
  background: -ms-linear-gradient(top, #ffffff, #f6f6f6);*/ 
  
  
  background: #236496;
background: -moz-linear-gradient(top, #f1f1f1, #f6f6f6);
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6));
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff',EndColorStr='#f6f6f6');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f6f6f6)";
/* Opera 11.10+ */
  background: -o-linear-gradient(top, #ffffff, #f6f6f6);
  -moz-box-shadow: 0 0 7px 4px #edf2f7;
-webkit-box-shadow: 0 0 7px 4px#edf2f7;
box-shadow: 0 0 7px 4px #edf2f7;}
.off_but
{
	width:auto;
	border:1px solid #c4e5ff;
	-moz-box-shadow: 0 0 0px 0px #ffffff;
	-webkit-box-shadow: 0 0 0px 0px#ffffff;
	box-shadow: 0 0 0px 0px #ffffff;
	color:#636363;
	padding:7px 13px;
	*padding:8px 7px;
	*height:33px;
	margin:0 !important;
	cursor:pointer;
	line-height:17px;
}
.username_bg, .password_bg
{
	background:url(../images/username.png) no-repeat left center;
	line-height:24px;
	min-height:22px;
	font-size:9pt;
	width:85%;
	color:#676767;
	padding:2px 1px 1px 40px;
	margin-bottom:3px;
	outline:none;
	border:none;
}
.password_bg
{
	background:url(../images/password.png) no-repeat left center;
}

.but_login,.on_but
{
	
	min-width:75px;
	*min-width:auto;
	/*height:34px;*/
	border:none;
	margin-right:5px;
	font-size:9pt;
	display:inline-block;
	color:#ffffff;
	padding:7px 13px;
	*padding:0px 4px;
	*height:33px;
	border:1px solid #1c95bc;
	margin-bottom:3px;
	/*webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	outline:none;
	margin-top:3px;
-moz-box-shadow:    inset 0 1px 0px #26c6fa;
   -webkit-box-shadow: inset 0 1px 0px #26c6fa;
   box-shadow:         inset 0 1px 0px #26c6fa;
background: #1da6d2;
cursor:pointer;
}
.on_but
{
	min-width:40px !important;
	/*padding:4px 13px !important;
	*padding:0px 7px;
	*height:33px;*/
	padding:7px 13px;
	*padding:8px 7px;
	*height:33px;
	line-height:22px;
	margin:0 !important;
	cursor:pointer;
	display:inline-block;
	text-align:center;
	line-height:17px;
}
.login_strip
{
	background:url(../images/ribbon.png) no-repeat left top;
	width:142px;
	height:144px;
	position:absolute;
	z-index:10;
	left:-16px;
	top:-18px;
}
.tab2_box
{
	margin:0 auto; 
	position:relative; 
	z-index:999;
}

/*-------------Footer----------------*/
#footer_p
{
	width:100%;
	/*background:url(../images/footer_bg.png) repeat;*/
	background:url(../images/menu_bg.png) repeat-x;
	display:inline-block;
	border-top:1px solid #316e9c;
	border-bottom:1px solid #216294;
	height:39px;
}
#footer
{
	width:961px;
	margin:0 auto;
	
}
#footer div.f_menu 
{
	width:99%;
	padding:5px 0 10px 0;
	text-align:center;
}
#footer div.f_menu a 
{
	color:#dadfeb;
	font-size:9pt;
	text-decoration:none;
	margin:5px;
	text-shadow:0px 0px 1px #fff;
}
#footer div.f_menu a:hover 
{
	color:#fff;
	font-size:7pt;
	text-decoration:underline;
	margin:5px;
}
#footer div.f_menu span 
{
	color:#dadfeb;
	font-size:7pt;
	text-shadow:0px 0px 1px #fff;
}
#footer div.f_menu p 
{
	color:#ffffff;
	font-size:9pt;
	padding-top:5px;
	
}
#footer div.f_menu p a 
{
	color:#6b6b6b;
	font-size:8pt;
	text-shadow:none;
}
#footer div.f_menu p a:hover 
{
	color:#6b6b6b;
	font-size:8pt;
}
#footer div.followUs
{
	width:300px;
	color:#dadfeb;
	font-size:9pt;
	padding-top:20px;
}
#footer div.followUs img
{
	margin-top:-7px;
}
.labs
{
	float:left;
	padding-left:10px;
}

/*-------------Footer Close----------------*/
