@charset "utf-8";
/* CSS Document */

.menu div.btn_part
{
	width:62%;
}

.btn_part ul {
			font-size: 9pt;
			list-style: none;
			z-index:10;
			position:relative;
			margin-top:0px;
			font-family:Arial, Helvetica, sans-serif;
		}
		.btn_part ul li{
			display: block;
			position: relative;
			float:left;
			min-height:40px;
			margin-right:1px;
			/*background:url(../images/sep_m.png) no-repeat;
			border-right:1px solid #00446d;*/
			vertical-align:middle;
			border-right:1px solid transparent;
			border-left:1px solid transparent;
			/*background-position:right center;
			min-height:20px;
			margin-left:0px;*/
			padding-top: 8px;
		}
		.btn_part ul li:hover, .btn_part ul li.active{
			
			/*border-right:1px solid #e5dcf3;
			border-left:1px solid #e5dcf3;*/
			background:#393939;
			/*background:url(../images/menu_hover.png) repeat-x !important;*/
		}
		.btn_part ul li.active{
			/*background:url(../images/menu_hover.png) repeat-x;*/
			background:#393939;
		}
		.btn_part ul li a {
			text-decoration:none;
			color:#e7e7e7;
			padding-top:10px;
			margin:0px 25px 0 25px;
			display:inline-block;
			cursor:pointer;	
			font-weight:bold;		
		}
		.btn_part ul li a:hover{
			text-decoration:underline;
		}
		.btn_part ul li a em {
			font-style:normal;
			color:#7fb600;
		}
		.btn_part ul li span
		{
			color:#a2a2a2;
		}
		.btn_part ul li a div.home{
			background:url(../images/home.png) no-repeat;
			width:30px !important;
			height:27px !important;
			margin: -7px 2px 0 2px !important;
			display:inline-block;
			
		}
		.btn_part ul li:hover a div.home, .btn_part ul li.active a div.home
		{
			/*border-right:1px solid #e5dcf3;
			border-left:1px solid #e5dcf3;*/
			margin:3px 2px 0 2px;
			background:url(../images/home_h.png) no-repeat !important;
		}
		
 ._search
 {
	 width:19%;
	 /*background:#e3e3e3;*/
	 -webkit-border-radius: 15px;
-moz-border-radius:15px;
border-radius:15px;
padding-left:4px;
margin-top:8px;
}		
 .s_box
{
	margin-top:2px;
	background:url(../images/seach_base.png) no-repeat;
	min-height:23px;
	padding-top:5px;
}
	.search_text
{
	width:143px;
	color:#e4dfed;
	background:none;
	font-size:8pt;
	padding:1px 6px 3px 6px;
	outline:none;
	border:none;
	
}	
.s_box input:-moz-placeholder 
{  
      color:#ffffff;  
}  
.s_box ::-webkit-input-placeholder 
{  
  color: #ffffff;
}  
.s_box :-moz-placeholder /* Firefox 18- */
{ 
   color: #ffffff;  
}
.s_box ::-moz-placeholder /* Firefox 19+ */
{  
   color: #ffffff; 
}
.s_box :-ms-input-placeholder {  
   color: #ffffff; 
}


.search_but
{
	margin-top:2px;
}


.message_strip
{
    /*width:19%;*/
	*width:13%;
	/* background:#e3e3e3;*/
	border-left:1px solid #0d607b;
	border-right:1px solid #1caddb;
	text-align:right;
	/*min-height:47px;*/
}
.message_strip div.msg_iconBox
{
	width:auto;	
	min-height:34px;
	min-width:30px;
	/*padding-left:29px; 
	padding-top:10px;*/
	padding:10px 12px 0 11px;
	*padding:10px 5px 0 5px; 	
	cursor:pointer;
}
.message_strip div.msg_iconBox:hover
{
	/*background-color:#266799;*/
}
.msg_borderleft
{
	border-left:1px solid #1caddb;
}
.msg_borderright
{
	/*border-left: 1px solid #1caddb !important;*/
	border-left:none;
	border-right:1px solid #0d607b;
}
.msg_Message
{
	background:url(../images/message.png) no-repeat center center;
	/*padding-left:30px;*/
}
.msg_FriendRequest
{
	background:url(../images/user_icon.png) no-repeat center center;
	/*padding-left:30px;*/
}
.msg_Visitors
{
	background:url(../images/visitor_tot.png) no-repeat center center;
	/*padding-left:30px;*/
}
.msg_alert
{
	width:auto;
	color:#d7cfcf;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	/*border:1px solid #a03963;*/
	padding:2px;
	font-size:7pt;
	cursor:pointer;
	 -webkit-border-radius: 3px;
-moz-border-radius:3px;
border-radius:3px;
/* Safari 4-5, Chrome 1-9 */
background:#a61515;
-moz-box-shadow:    inset 0 0px 2px #ffffff;
   -webkit-box-shadow: inset 0 0px 2px #ffffff;
   box-shadow:         inset 0 0px 2px #ffffff;
 /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f70000), to(#890000));
  
   Safari 5.1, Chrome 10+ */
  /*background: -webkit-linear-gradient(top, #f70000, #890000);
  
   Firefox 3.6+ */
  /*background: -moz-linear-gradient(top, #f70000, #890000);
  
   IE 10 */
  /*background: -ms-linear-gradient(top, #f70000, #890000);
  
   Opera 11.10+ 
  background: -o-linear-gradient(top, #f70000, #890000);*/
  margin-left:5px;
 
}

/*flage style------*/
.flage
{
	list-style:none;
	position:relative;
}
.flage li
{
	text-align:center;
	margin:0 auto !important;
	/*padding:0px !important;
	line-height:20px;*/
	padding:0px !important;
	width:20px;
	height:16px;
	display:block;
	position:relative;
}
.flage li a
{
	vertical-align:bottom;
}
.flage li a img
{
	border:none;
	width:16px;
	height:16px;
}
.flage li ul
{
	display:none;
}
.flage li:hover ul
{
	display:block;
	position:absolute;
	margin-top:-4px;
	padding-top:2px;
	margin-left:2px;
}
.flage li:hover ul li
{
	list-style:none;
	width:16px;
	height:16px;
	display:block;
	position:relative;
	padding:0px !important;
}
.flage li:hover ul li a
{
	padding:0px !important;
}

/*flage style Close------*/