/*body {
	font: 0.8em/21px arial,sans-serif;
}
*/

*
{
	margin:0;
	padding:0;
}
body
{
	
	font-size:16px;
	font-style:normal;
	margin:0 auto;/*
	background-color:#fff;*/
	/*font-family:"Myriad Pro";*/
	background:url(../images/backend/login_bg.png) repeat;
	font-family:Arial, Helvetica, sans-serif;
}
#login
{
	width:100%;
	background:url(../images/backend/log_blackBG.png) repeat-x;
	display:inline-block;
	padding-top:38px;
}
#login div.loginbox_container
{
	width:998px;
	margin:0 auto;
	background:url(../images/logo.png) no-repeat top center;
	padding-top:90px;
	margin-top:122px;
}
.l_box_con
{
	width:33%;
	margin:0 auto;
	padding:2px;
	
}
.login_table
{
/*	background:#c2c2c2;*/
	font-family:Arial, Helvetica, sans-serif;
	color:#c0c0c0;
	font-size:9pt;
	margin:0 auto;
	height:170px;
	-webkit-border-radius: 8px;
	-moz-border-radius:8px;
	border-radius: 8px;
	padding:0px;
	border:1px solid #2a2d31;
	-webkit-box-shadow: 0 10px 1px -9px #484b4d;
	   -moz-box-shadow: 0 10px 1px -9px #484b4d;
	        box-shadow: 0 10px 1px -9px #484b4d;
	
}
.tr1
{
	background:#2c3032;
	-webkit-border-radius:  0 0 8px 8px;
	-moz-border-radius:0 0 8px 8px ;
	border-radius:0 0 8px 8px;
	color:#8d8d8d;
	padding:0px 0 0 10px;
}
.tr2
{
	/*background:#2c3032;*/
	background:url(../images/backend/login_back.png) repeat;
	border:1px solid #24272b;
	border-left:none;
	border-top:none;
	border-right:none;
}
.td1
{
	-webkit-border-radius: 8px 0px 0 0;
	-moz-border-radius:8px 0px 0 0;
	border-radius: 8px 0px 0 0;
	background:url(../images/backend/admin_head.png) repeat-x;
	
	/*background-color:#e6e6e6;*/
}
.td2
{
	-webkit-border-radius: 0px 8px 0 0;
	-moz-border-radius:0px 8px 0 0;
	border-radius: 0px 8px 0 0;
	/*background-color:#e6e6e6;*/
	background:url(../images/backend/admin_head.png) repeat-x;
	padding-left:10px;
	font-size:14pt;
	color:#ffffff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}
.bod_right
{
	border-right:none;
}
.t_box_sign
{
	border:1px solid #1e2226;
	width:87%;
	font-size:9pt;
	color:#8D8D8D;
	padding:5px 2px 5px 2px;
	margin-bottom:3px;
	background:#25292b;
	/*webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	outline:none;
	margin-top:3px;
	
	 /*-moz-box-shadow: inset 0 0 2px 2px #e8e8e8;
-webkit-box-shadow: inset 0 0 2px 2px#e8e8e8;
box-shadow: inset 0 0 2px 2px #e8e8e8;
margin-left:5px;*/
}
.but_login
{
	
	width:90px;
	height:34px;
	border:none;
	margin-right:20px;
	/*font-size:9pt;
	
	color:#212121;
	padding:3px 13px 3px 13px;
	margin-bottom:3px;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline:none;
	margin-top:3px;
	 -moz-box-shadow: inset 0 0 5px 2px #e8e8e8;
-webkit-box-shadow: inset 0 0 5px 2px#e8e8e8;
box-shadow: inset 0 0 5px 2px #e8e8e8;*/
background:url(../images/backend/login.png) no-repeat;
cursor:pointer;
}


.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 2px 0 0;
	background: url(checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
	/*margin-top:-3px;*/
}
.radio {
	background: url(radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(select.png) no-repeat;
	overflow: hidden;
}

.t_box_signCombo
{
	border:1px solid #bfbfbf;
	width:90%;
	font-size:9pt;
	color:#8D8D8D;
	padding:4px 2px 4px 2px;
	margin-bottom:3px;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline:none;
	margin-top:3px;
	 -moz-box-shadow: inset 0 0 2px 2px #e8e8e8;
-webkit-box-shadow: inset 0 0 2px 2px#e8e8e8;
box-shadow: inset 0 0 2px 2px #e8e8e8;
margin-left:10px;
background:#ffffff;
}
.t_box_signCombo select
{
	width:100%;
	border:none;
	outline:none;
	color:#8D8D8D;
	padding:0px;
}
